body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.conteudo {
    background-color: #212121;
    /* Preto */
    font-family: "Bad Script", cursive;
    color: #ffffff;
    /* Branco */
    padding: 20px;
}

.conteudo h2 {
    font-size: 60px;
    color: #8b0000;
    /* Vermelho Escuro */
    padding: 2px;
    font-weight: bold;
    line-height: 60%;
}

.conteudo h3 {
    font-size: 30px;
    color: #8b0000;
    /* Vermelho Escuro */
}

.conteudo p {
    font-size: 25px;
    font-family: 'Sacramento', cursive;
}

.conteudo li {
    font-size: 25px;
    font-family: 'Sacramento', cursive;
}

.apresentacao {
    background-color: #8b0000;
    /* Vermelho Escuro */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    height: 90vh;
}

.menu {
    list-style-type: none;
    padding: 0;
    font-size: 100%;
    background-color: #212121;
    /* Preto */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    height: 10vh;
    overflow: hidden;
}

.menu li {
    display: block;
    width: 100%;
    text-align: center;
}

.menu li a {
    text-decoration: none;
    font-size: 25px;
    font-family: "Bad Script", cursive;
    font-weight: bold;
    color: #ffffff;
    /* Branco */
    padding: 20px;
    display: block;
    line-height: 100%;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 2px solid transparent;
    transform-origin: center;
}

.menu li a.selected {
    background-color: #8b0000;
    /* Vermelho Escuro */
    color: #212121;
    /* Preto */
    border-color: #212121;
    /* Preto */
}

.menu li a:hover {
    background-color: #8b0000;
    /* Vermelho Escuro */
    color: #212121;
    /* Preto */
    border-color: #212121;
    /* Preto */
    transform: scale(1.1);
}

.menu li a:active {
    border-color: #8b0000;
    /* Vermelho Escuro */
    transform: scale(1.2);
}

h1 {
    color: #ffffff;
    /* Branco */
    font-family: "Bad Script", cursive;
    font-size: 50px;
    font-weight: 300;
}

.nome {
    color: #000000;
    /* Vermelho Escuro */
    font-weight: bold;
    font-size: 80px;
}

#texto-sobre-mim {
    flex: 1;
    margin-right: 20px;
    text-align: justify;
}

#imagem-sobre-mim {
    flex: 1;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

#projetos {
    text-align: center;
    font-family: 'Sacramento', cursive;
}

#projetos a {
    margin: 10px
}

#contato {
    text-align: center;
}

#contato img {
    width: 50px;
    height: 50px;
    margin: 30px;
}

#contato img:hover{
    transform: scale(1.2);
}

@media (max-width: 869px) {
    .conteudo h2,
    .conteudo h3,
    .conteudo p,
    .conteudo li,
    .apresentacao h1,
    .nome {
        font-family: 'Bad Script', cursive;
        color: #000000;
    }

    #imagem-sobre-mim {
        display: none;
    }
    .menu {
        flex-direction: column;
        height: auto;
    }

    .menu li {
        width: 100%;
    }

    .menu li a {
        font-size: 20px;
        padding: 10px;
    }

    h1 {
        font-size: 40px;
    }

    .nome {
        font-size: 60px;
    }
}